*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #000;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a img{
    width: 100px;
    margin-left: 1rem;
}

.nav-menu ul{
    display: flex;
    gap: 20px;
    padding: 10px;
    margin-right: 1rem;
}

.nav-menu ul li a{
    color: #ebeed5;
    font-size: 18px;
    font-family: "Outfit", sans-serif;
    font-weight: bold;
    padding: 10px;
    border-radius: 6px;
    transition: 0.2s ease-in;
}

.nav-menu ul li a:hover{
    color: #fff;
    background-color: #201f1f;
    border-radius: 6px;
    padding: 10px;

}

.container-header{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(src/image/Fundo.png);
    background-position: center 34%;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-logo{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.container-logo img{
    width: 100px;
    transition: 0.2s ease-in;
    z-index: 99999;
}

.container-logo img:hover{
    transform: scale(1.05);
}

.container-logo h2{
    color: #fff;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 32px;
}

.container-artigos{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content-artigos{
    width: 90%;
    height: auto;
    background-color: #201f1f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.box-artigos{
    background-color: #000;
    width: 80%;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
}

.box-artigos img{
    width: 200px;
    height: 150px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.box-txt{
    width: 100%;
}

.box-txt h3{
    color: #fff;
    font-family: "Special Gothic Expanded One", sans-serif;
    margin-bottom: 10px;
}

.box-txt p{
    color: #fff;
    margin-bottom: 10px;
    font-family: "Outfit", sans-serif;
}

.btn-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 94%;
}

.btn-box span{
    color: #fff;
    font-family: "Outfit", sans-serif;
    color: #201f1f;
}

.btn-box button{
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.btn-box button:hover{
    transform: scale(1.05);
}

.navegacao-artigos{
    margin-top: 10px;
    margin-bottom: 20px;
}

#btn-anterior, #btn-proximo{
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}
